<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{url('static',filename='home.css')}}">
       
</head>
<body>
     
    <div class="back-img">
     <img src='/static/images/back-view-crowd-fans-watching-live-performance-music-concert-night-copy-space(1).jpg'>
    </div>
     <header>
            <nav>
                <ul>
                    <li class="logo">AUDIO <strong>JACKIE</strong></li>
                    <li class="home"><a href="#">HOME</a></li>
                    <li class="up1"><a href="#">SONGS</a></li>
                    <li class="up2"><a href="#">POPULAR</a></li>
                    <li class="up3"><a href="#">RECORD</a></li>
                </ul>
            </nav>
        </header>

        <div class="butt">
          <button id="get" onclick="start()">Get Started</button>

          <button class="microphone" id="microphone" onclick="record()">START RECORDING</button>
      </div>
     
  <script>
      function start() {
        
        document.getElementById("get").style.display = "none";
         
        document.getElementById("microphone").style.display = "block";
 
    }

    function record(){
      
    }
</script>
</body>
</html>
